
.page {
  
    background-color: wheat;
 
    background-size: cover;
  

}
.game{
   
    width: 320px;
    height: 320px;
    
    background-color: violet;
    
    margin: 0 auto;
}
.button {
    position: relative;
    width:150px;
    height: 150px;
    border: solid;
    border-width: 4px;
    border-color: black;
    margin: 2px;
}
.button-red {
    background-color: red;
    
}
.button-blue {
    background-color: blue;
    
}
.button-green {
    background-color: green;
    position: relative; /* Относительное позиционирование */
    left: 160px;
    top: -320px;
}
.button-yellow {
    background-color: yellow;
    position: relative; /* Относительное позиционирование */
    left: 160px;
    top: -320px;
}